*{
    margin: 0%;
    padding: 0;
}
body{
    height: 1555px;
    background-color: #7d2cff70;
}
.heading{
    background: url(images/header.jpg);
    background-position: center 60%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 355px;
}
.head{
    position: absolute;
    right: 30%;
    top: 5%;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(108, 0, 248);
    padding-left: 1%;
}
 .logo {
        position: absolute;
        width: 16%;
        left: -46px;
        top: -20%;
}
.mid{
    width:500px;
    display: inline-block;
    position:absolute ;
    text-align: justify;
    margin-left: 47.5%;
    margin-top: 8%;
    font-size: 17px;
    font-family:Arial, Helvetica;
    font-weight:700;
    color: rgb(0, 0, 0);
    
}
em{
    color: rgb(38, 0, 255);
    font-weight: bolder;
    font-style:normal;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Right{
    position: absolute;
    top: 115%;   
    border-radius: 15px;
    padding: 3px;
    border: white double;
    background-color: rgb(77, 0, 128);
}
.Right a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.Right:hover{
    background-color: rgb(0, 187, 47);
    border: black double;
    padding: 4px;
    transition: 0.2s;
}
.left{
    position: absolute;
    top: 115%;   
    right: 25%;
    border-radius: 15px;
    padding: 3px;
    border: white double;
    background-color: rgb(77, 0, 128);
}
.left a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.left:hover{
    background-color: rgb(255, 72, 0);
    border: black double;
    padding: 4px;
    transition:0.2s ;
}
nav  {
    width: 94%;
    margin-left: 2.5%;
    background-color: rgb(108, 0, 248);
    display: inline-block;
    border-radius: 25px;
    border:rgb(0, 0, 0) solid;
    border-bottom:rgb(0, 0, 0) solid;
    position: sticky;
    top: 0;
    z-index: 700000;
}
.navbar{
    display: flex;
    padding: 0 120px;
    float:right;
}
.navbar li{
    padding: 15px 30px;
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: blanchedalmond;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 5px;
    padding-left: 5px;
}
.navbar li a:hover{
    background-color: #fff;
    color: blueviolet;
    transition: 0.3s;
    border: rgb(89, 0, 255) double 2px;
    border-radius: 15px;
    font-size:17px;
    font-weight: bolder;
}
.box1 {
    height: 20%;
    width: 22%;
    border: 0.01px black solid ;
    display: inline-block;
    
}
.box2 {
    width: 22%;
    height: 20%;
    border:0.01px  black solid;
    display: inline-block;
    
}
.box3 {
    height: 20%;
    width: 22%;
    border:0.01px  black solid;
    display: inline-block;
    
}
.box4 {
    width: 22%;
    height: 20%;
    display: inline-block;
    border:0.01px  black solid;
}
.container{
    position: relative;
    text-align: center;
   
}
.content{
    position: absolute;
    left: 10%;
    width: 80%;
    border-radius: 15px;
    background-color: #fff;
    margin: 0x 100px 0px 100px;
    box-shadow: -1em 0 2.4em rgba(0, 0, 0, 0.644), 1em 0 2.4em rgb(0, 0, 0, 0.644);
}
.founders .cards{
    position: relative;
    display: inline-block;
    margin: 15px;
    width:250px;
    height: 300px;
    background: linear-gradient(#8400ffb6, #8e21f3bb 30%, #792af8 30%, #6200ffd0);
    border-radius: 20px;
    overflow: hidden;
}
.founders .cards .imagebx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 100000;
    transform-origin: top;
    border-radius: 20px;
    overflow: hidden;
    
}

.founders .cards:hover .imagebx{
    transform: translateY(30px) scale(0.5);
    border-radius: 20px;
}
.founders .cards .imagebx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
}
.founders .cards .information{
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;
}
.founders .cards:hover .information{
     transform: translateY(0);
    }
.founders .cards .information .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.founders .cards .information .details h3{
    text-align: center;
    font-family: cursive ;
    color: #fff;
}
.founders .cards .information .details h3 span{
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size:14px;
    font-weight: bolder;
}
.social_icons{
    position: relative;
    display: flex;
    margin-top: 5px;
}
.social_icons li{
    list-style: none;
    margin :4px;
    
}
.social_icons li a{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6200ff;
    border-radius: 50%;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.5s;
}
.social_icons li a:hover{
    transform: rotate(360deg) ;
    background-color: rgb(5, 107, 224);
}
.co_founders .cards{
    position: relative;
    display: inline-block;
    margin: 15px;
    width:250px;
    height: 300px;
    background: linear-gradient(#6b6b6bb6, #6b6b6bb6 30%, #2c2c2ce1 30%, #2c2c2ce1);
    border-radius: 20px;
    overflow: hidden;
}
.co_founders .cards .imagebx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 100000;
    transform-origin: top;
    border-radius: 20px;
    overflow: hidden;
    
}

.co_founders .cards:hover .imagebx{
    transform: translateY(15px) scale(0.5);
    border-radius: 20px;
}
.co_founders .cards .imagebx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
}
.co_founders .cards .information{
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;
}
.co_founders .cards:hover .information{
     transform: translateY(0);
    }
.co_founders .cards .information .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.co_founders .cards .information .details h3{
    text-align: center;
    font-family: cursive ;
    color: #fff;
}
.co_founders .cards .information .details h3 span{
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size:14px;
    font-weight: bolder;
}
.social_icons2{
    position: relative;
    display: flex;
    margin-top: 5px;
}
.social_icons2 li{
    list-style: none;
    margin :4px;
    
}
.social_icons2 li a{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f00ff;
    border-radius: 50%;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.5s;
}
.social_icons2 li a:hover{
    transform: rotate(360deg) ;
    background-color: rgb(5, 107, 224);
}


